.App-cards {
  display: flex;
  /* flex-wrap quebra a linha */
  flex-wrap: wrap;
  /* cards centralizados responsivo */
  justify-content: center;
}

.App-header {
  display: flex;
  align-items: center;
}

.App-title-container {
  padding: 44px;
  align-items: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(260deg);
  }
}
