body {
  /* background-color: #EEDAE5; */
  background-color: #f8eeea;
  font-family: Oswald;
  text-align: center;
  font-size: 34px;
}

h1, h2, h3 {
  font-weight: 200;
}

h2, h3 {
  margin: 24px;
}
